<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd    
                       http://www.springframework.org/schema/context    
                       http://www.springframework.org/schema/context/spring-context-4.2.xsd">
                       
   	<!-- 可以理解为启用Spring注解 -->
	<context:annotation-config />
	
	<context:component-scan base-package="demo.dao" />
	<context:component-scan base-package="demo.splider" />
	<context:component-scan base-package="demo.redis" />
	<context:component-scan base-package="demo.service.impl" />

	<bean id="DrivenManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean class="demo.util.SpringContextHelper" />
</beans>